/* ============================== VARIABLES ============================== */
:root {
  --color-primario-blue: #1E50FF;
  --color-primario-dark-blue: #081956;
  --color-secundario-navy: #051139;
  --color-texto-blanco: #ffffff;
  --color-texto-parrafo: #EBEBEB;
  --color-acento-gris: #B8B8B8;
  --color-acento-cyan: #5699FF;
  --color-acento-violeta: #AA00FF;
}

/* ============================== GLOBAL ============================== */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--color-texto-blanco);
  background-color: var(--color-secundario-navy);
}

h1 {
  font-size: 4rem;
  line-height: 5rem;
  font-weight: 700;
}

h2 {
  font-size: 3.5rem;
  line-height: 4.5rem;
  font-weight: 700;
}

h3 {
  font-size: 2.5rem;
  line-height: 3.5rem;
  font-weight: 700;
}

h4 {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 700;
}

h5 {
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 700;
}

h6 {
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 700;
  color: var(--color-acento-cyan);
}

p {
  font-size: 1rem;
  line-height: 2rem;
  color: var(--color-texto-parrafo);
}

a {
  text-decoration: none;
  color: var(--color-texto-blanco);
}

header {
  padding: 1vw 0rem;
}

/* ============================== NAVBAR ============================== */
.menu {
  display: inline-block;
}

nav li {
  display: inline-block;
  padding: 1rem;
}

.items-menu:hover {
  color: var(--color-acento-cyan);
}

/* ============================== LOGOS ============================== */
.logo {
  display: inline-block;
}

.logo-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: -webkit-gradient(linear, left top, left bottom, from(#1E50FF), to(#5699FF));
  background: linear-gradient(180deg, #1E50FF 0%, #5699FF 100%);
  border-radius: 50%;
  margin-right: 0.5rem;
}

.logo-icon p {
  text-align: center;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 40px;
}

.logo-text {
  display: inline-block;
}

.logo-text p {
  display: inline-block;
  font-weight: 700;
  font-size: 1.5rem;
  vertical-align: middle;
  margin-right: 2rem;
}

.logo-iconGrande {
  width: 80px;
  height: 80px;
}

.logo-iconGrande p {
  font-size: 3.6rem;
  line-height: 80px;
}

/* ============================== BUTTONS ============================== */
.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  background-color: var(--color-primario-blue);
  padding: 0.5vw 2vw;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  border: none;
}

.button-secundario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid var(--color-texto-blanco);
  padding: 0.5vw 2vw;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
}

.button:hover {
  border: 1px solid var(--color-texto-parrafo);
  background-color: var(--color-primario-blue);
}

.button-secundario:hover {
  background-color: var(--color-primario-dark-blue);
}

header .button {
  float: right;
}

.button:active,
.button-secundario:active {
  border: 2px solid var(--color-texto-parrafo);
}

/* ============================== FORMS ============================== */
.newsletter form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1vw;
  width: 90%;
}

.formulario__boton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  font-size: 1rem;
  background-color: var(--color-primario-blue);
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  color: var(--color-texto-blanco);
  border: none;
}

.formulario__boton:hover {
  border: 1px solid var(--color-texto-parrafo);
}

.formulario__campo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  font-weight: 500;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid var(--color-texto-blanco);
  padding: 0.5vw 2vw;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
}

input[type=email] {
  color: var(--color-texto-blanco);
}

input[type=email]::-webkit-input-placeholder {
  color: var(--color-texto-parrafo);
}

input[type=email]::-moz-placeholder {
  color: var(--color-texto-parrafo);
}

input[type=email]:-ms-input-placeholder {
  color: var(--color-texto-parrafo);
}

input[type=email]::-ms-input-placeholder {
  color: var(--color-texto-parrafo);
}

input[type=email]::placeholder {
  color: var(--color-texto-parrafo);
}

/* ============================== SECTIONS ============================== */
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2.5vw 4.5vw;
}

.contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1vw;
}

.contenido__milestones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1vw;
}

.contenido__milestones3 {
  padding: 0 2.5vw;
}

.contenido__milestones1,
.contenido__milestones2 {
  padding: 0 2.5vw;
  border-right: 0.125rem solid var(--color-texto-blanco);
}

.contenido,
.imagenCTA {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.imagenCTA__imagen {
  max-width: 35vw;
}

.imagenCTA__imagen img {
  width: 96%;
}

.imagenCTA {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1vw;
}

.imagenCTA__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1vw;
  background: rgba(255, 255, 255, 0.1);
  border: 0.125rem solid var(--color-primario-blue);
  padding: 7.5vw 2.5vw 2.5vw 2.5vw;
  -webkit-box-shadow: 0px 24px 80px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 24px 80px rgba(0, 0, 0, 0.8);
  border-radius: 0.5rem;
}

.imagenCTA__imagen {
  margin-bottom: -7vw;
  z-index: 1;
  -webkit-box-shadow: 0px 24px 80px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 24px 80px rgba(0, 0, 0, 0.8);
}

img {
  border-radius: 0.5rem;
}

.oferta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5vw 4.5vw;
  margin: 3vw 0;
  background-color: var(--color-acento-violeta);
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100vw;
}

.oferta-transparente {
  -webkit-text-stroke: 0.09rem var(--color-texto-blanco);
  color: transparent;
}

.destacado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2.5vw 4.5vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.destacado__titulo {
  width: 66%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.destacado__NFT {
  background-color: var(--color-primario-dark-blue);
  border-radius: 0.5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.5vw;
  margin: 2.5vw;
}

.destacado__NFT--colm1,
.destacado__NFT--colm2,
.destacado__NFT--colm3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 1vw;
  margin: 0 2.5%;
  max-width: 30%;
}

.imagenDestacada {
  -webkit-box-shadow: 0px 24px 80px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 24px 80px rgba(0, 0, 0, 0.8);
}

.destacado__NFT--colm2 {
  width: 25vw;
}

.imagenDestacada img {
  width: 100%;
}

.variosNFT {
  background-color: transparent;
}

.market {
  padding-top: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cardNFT {
  border: 1px solid #1E50FF;
  border-radius: 0.5rem;
  padding: 1.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1vw;
  margin: 0 2vw;
}

.cardNFT__nombre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cardNFT img {
  max-width: 20vw;
}

.community {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2.5vw 5.5vw;
}

.community .contenido__titulo {
  padding-right: 5.5%;
}

.community .contenido__texto {
  padding-right: 5.5%;
}

.community .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}

.usuarios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 1vw;
}

.usuario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1vw;
  background-color: var(--color-primario-dark-blue);
  border-radius: 0.5rem;
  padding: 0.5vw 1vw;
  -webkit-box-shadow: 0px 24px 80px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 24px 80px rgba(0, 0, 0, 0.8);
}

.avatar {
  width: 3.5vw;
  height: 3.5vw;
  background-color: #D9D9D9;
  border-radius: 50%;
}

.avatar img {
  width: 100%;
  border-radius: 50%;
  border: white solid 1px;
}

.usuarioData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.usuarioData p {
  color: var(--color-acento-gris);
}

#usuario1 {
  margin: 0 2vw 0 -2vw;
}

#usuario3 {
  margin: 0 -2vw 0 2vw;
}

.collaboration {
  padding: 2.5vw 4.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.collaboration__titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.collaboration__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 5vw;
  margin: 2.5vw;
}

.newsletter {
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 1vw;
  background-color: var(--color-primario-dark-blue);
  border-radius: 0.5rem;
  padding: 8vw 12vw;
}

.zigzag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.zigzag--reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.p404 {
  padding: 0 15vw;
}

.p404 .button {
  width: 100%;
}

.bg-hero {
  height: 40vw;
  width: 110vw;
  left: -40px;
  top: 128px;
}

.blur-violeta {
  position: absolute;
  width: 32vw;
  height: 32vw;
  left: -5vw;
  top: 17vw;
  background: var(--color-acento-violeta);
  -webkit-filter: blur(12vw);
          filter: blur(12vw);
  z-index: -1;
}

.blur-azul {
  position: absolute;
  width: 40vw;
  height: 40vw;
  right: -10vw;
  top: 12vw;
  background: var(--color-primario-blue);
  -webkit-filter: blur(12vw);
          filter: blur(12vw);
  z-index: -1;
}

/* ============================== FOOTER ============================== */
footer {
  padding: 2.5vw 4.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2vw;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1vw;
}

.redes a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--color-texto-blanco);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.redes a:hover {
  background-color: var(--color-texto-parrafo);
  color: var(--color-secundario-navy);
}

hr {
  border-color: var(--color-primario-blue);
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/* ============================== FOOTER ============================== */
.blanco {
  color: white;
}

.azul {
  background-color: var(--color-primario-blue);
}

/* =========================================================================== */
/* ============================== MEDIA QUERIES ============================== */
/* =========================================================================== */
@media screen and (max-width: 922px) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1.5vw 3.5vw;
  }
  h1 {
    font-size: 4rem;
    line-height: 5rem;
    font-weight: 700;
  }
  .contenido__texto {
    padding-right: 2vw;
  }
  .contenido__milestones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .imagenCTA__imagen {
    margin-top: 5vw;
    max-width: 80vw;
  }
  .imagenCTA {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1vw;
  }
  .imagenCTA__buttons {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 10vw;
  }
  .imagenCTA__buttons div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .destacado__titulo {
    width: 85%;
  }
  .destacado__titulo p {
    width: 110%;
  }
  .destacado__NFT {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .destacado__NFT--colm1,
  .destacado__NFT--colm2,
  .destacado__NFT--colm3 {
    max-width: 100%;
  }
  .destacado__NFT--colm2 {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 80vw;
    margin-bottom: 10vw;
  }
  .variosNFT {
    gap: 4vw;
  }
  .cardNFT .cardNFT__nombre {
    padding-left: 5vw;
  }
  .cardNFT img {
    max-width: 80vw;
  }
  .community {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .community .button {
    width: 90%;
    margin-bottom: 4vw;
  }
  .collaboration__logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0.5vw;
    margin: 2.5vw;
  }
  .ocultable {
    display: none;
  }
  .newsletter form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}