:root {
    --color-primario-blue: #1E50FF;
    --color-primario-dark-blue: #081956;
    --color-secundario-navy: #051139;
    --color-texto-blanco: #ffffff;
    --color-texto-parrafo: #EBEBEB;
    --color-acento-gris: #B8B8B8;
    --color-acento-cyan: #5699FF;
    --color-acento-violeta: #AA00FF;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--color-texto-blanco);
    background-color: var(--color-secundario-navy);
}

h1 {
    font-size: 4rem;
    line-height: 5rem;
    font-weight: 700;
}

h2 {
    font-size: 3.5rem;
    line-height: 4.5rem;
    font-weight: 700;
}

h3 {
    font-size: 2.5rem;
    line-height: 3.5rem;
    font-weight: 700;
}

h4 {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 700;
}

h5 {
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 700;
}

h6 {
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 700;
    color: var(--color-acento-cyan);
}

p {
    font-size: 1rem;
    line-height: 2rem;
    color: var(--color-texto-parrafo)
}

header {
    padding: 2.5rem 4.5rem;
}

.logo {
    display: inline-block;
}

.logo-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: linear-gradient(180deg, #1E50FF 0%, #5699FF 100%);
    border-radius: 50%;
    margin-right: .5rem;
}

.logo-icon p {

    text-align: center;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 40px;
}

.logo-text {
    display: inline-block;
}

.logo-text p {
    display: inline-block;
    font-weight: 700;
    font-size: 1.5rem;
    vertical-align: middle;
    margin-right: 2rem;
}

a {
    text-decoration: none;
    color: var(--color-texto-blanco);
}

a:hover {
    color: var(--color-acento-cyan);
}

.menu {
    display: inline-block;
}

nav li {
    display: inline-block;
    padding: 1rem;
}

.button {
    display: inline-block;
    font-weight: 500;
    background-color: var(--color-primario-blue);
    padding: .5rem 2rem;
    border-radius: .5rem;
    margin-top: 0.5rem;
}

.button-secundario {
    display: inline-block;
    font-weight: 500;
    box-sizing: border-box;
    border: 1px solid var(--color-texto-blanco);
    padding: .5rem 2rem;
    border-radius: .5rem;
    margin-top: 0.5rem;
}

.button:hover {
    border: 1px solid var(--color-texto-parrafo);
}

.button-secundario:hover {
    background-color: var(--color-primario-dark-blue);
}

.button:active,
.button-secundario:active {
    border: 2px solid var(--color-texto-parrafo);
}



header .button {
    float: right;
}

.hero {
    display: flex;
    padding: 2.5rem 4.5rem;
}

.contenido,
.imagenCTA {
    flex-grow: 1;
    flex-basis: 50%;
}

.contenido {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contenido__milestones {
    display: flex;
    margin-top: 1rem;
}

.contenido__milestones3 {
    padding: 0 2.5rem;
}

.contenido__milestones1,
.contenido__milestones2 {
    padding: 0 2.5rem;
    border-right: .125rem solid var(--color-texto-blanco);
}

.imagenCTA {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.imagenCTA__buttons {
    display: flex;
    gap: 1rem;
    background: rgba(255, 255, 255, 0.1);
    border: .125rem solid var(--color-primario-blue);
    padding: 7.5rem 2.5rem 2.5rem 2.5rem;
    box-shadow: 0px 24px 80px rgba(0, 0, 0, 0.8);
    border-radius: .5rem;
}

.imagenCTA__imagen {
    margin-bottom: -7rem;
    z-index: 1;
    box-shadow: 0px 24px 80px rgba(0, 0, 0, 0.8);
}

img {
    border-radius: .5rem;
}

.oferta {
    display: flex;
    padding: 1.5rem 4.5rem;
    margin: 3rem 0;
    background-color: var(--color-acento-violeta);
    justify-content: space-around;
}

.oferta-transparente {
    -webkit-text-stroke: .09rem var(--color-texto-blanco);
    color: transparent;
}

.destacado {
    display: flex;
    flex-direction: column;
    padding: 2.5rem 4.5rem;
    align-items: center;

}

.destacado__titulo {
    width: 66%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.destacado__NFT {
    background-color: var(--color-primario-dark-blue);
    border-radius: .5rem;
}

.destacado__NFT {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
    margin: 2.5rem;
}

.destacado__NFT--colm1,
.destacado__NFT--colm2,
.destacado__NFT--colm3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    margin: 0 2rem;
}

.logo-iconGrande {
    width: 80px;
    height: 80px;

}

.logo-iconGrande p {
    font-size: 3.6rem;
    line-height: 80px;
}

.imagenDestacada {
    box-shadow: 0px 24px 80px rgba(0, 0, 0, 0.8);
}

.variosNFT {
    background-color: transparent;
}

.cardNFT {
    border: 1px solid #1E50FF;
    border-radius: .5rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin: 0 2rem;
}

.cardNFT__nombre {
    display: flex;
}


.community {
    display: flex;
    padding: 2.5rem 4.5rem;
}

.community .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}


.usuarios {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 20%;
    justify-content: space-around;
}


.usuario {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--color-primario-dark-blue);
    border-radius: .5rem;
    padding: .5rem 1rem;
    box-shadow: 0px 24px 80px rgba(0, 0, 0, 0.8);
}

.avatar {
    width: 3.5rem;
    height: 3.5rem;
    background-color: #D9D9D9;
    border-radius: 50%;
}

.usuarioData {
    display: flex;
    flex-direction: column;
}

.usuarioData p {
    color: var(--color-acento-gris);
}

#usuario1 {
    margin: 0 2rem 0 -2rem;
}


#usuario3 {
    margin: 0 -2rem 0 2rem;
}

.collaboration {
    padding: 2.5rem 4.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collaboration__titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collaboration__logos {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    margin: 2.5rem;
}

.newsletter {
    width: 66%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    background-color: var(--color-primario-dark-blue);
    border-radius: .5rem;
    padding: 8rem 12rem;
}

.newsletter form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 90%;
}

.formulario__boton {
    display: flex;
    font-weight: 700;
    font-size: 1rem;
    background-color: var(--color-primario-blue);
    padding: .5rem 2rem;
    border-radius: .5rem;
    margin-top: 0.5rem;
    color: var(--color-texto-blanco);
    border: none;
}

.formulario__boton:hover {
    border: 1px solid var(--color-texto-parrafo);
}

.button:active,
.button-secundario:active {
    border: 2px solid var(--color-texto-parrafo);
}

.formulario__campo {
    display: flex;
    align-items: center;
    background-color: transparent;
    font-weight: 500;
    box-sizing: border-box;
    border: 1px solid var(--color-texto-blanco);
    padding: .5rem 2rem;
    border-radius: .5rem;
    margin-top: 0.5rem;
}

input[type="email"] {
    color: var(--color-texto-blanco);
}

input[type="email"]::placeholder {
    color: var(--color-texto-parrafo);
}

footer {
    padding: 2.5rem 4.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.top {
    display: flex;
    justify-content: space-between;    
}

.top .logo {
    display: flex;
    align-items: center;    
}

.redes {
    display: flex;
    gap: 1rem;
}

.redes a {
    display: flex;
    width: 40px;
    height: 40px;    
    border-radius: 50%;
    border: 1px solid var(--color-texto-blanco);  
    justify-content: center;
    align-items: center;
}

.redes a:hover {    
    background-color: var(--color-texto-parrafo);
    color: var(--color-secundario-navy);
}

hr {
    border-color: var(--color-primario-blue);    
}

.copyright {
    display: flex;
    justify-content: space-between;
}

.history {
    display: flex;
    justify-content: space-around;
}

.zigzag {
    display: flex;    
}

.zigzag--reverse {
    display: flex;    
    flex-direction: row-reverse;
}
