
footer {
    padding: 2.5rem 4.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.top {
    display: flex;
    justify-content: space-between;    
}

.top .logo {
    display: flex;
    align-items: center;    
}

.redes {
    display: flex;
    gap: 1rem;
}

.redes a {
    display: flex;
    width: 40px;
    height: 40px;    
    border-radius: 50%;
    border: 1px solid var(--color-texto-blanco);  
    justify-content: center;
    align-items: center;
}

.redes a:hover {    
    background-color: var(--color-texto-parrafo);
    color: var(--color-secundario-navy);
}

hr {
    border-color: var(--color-primario-blue);    
}

.copyright {
    display: flex;
    justify-content: space-between;
}

.history {
    display: flex;
    justify-content: space-around;
}