.newsletter form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    width: 90%;
}

.formulario__boton {
    display: flex;
    font-weight: 700;
    font-size: 1rem;
    background-color: var(--color-primario-blue);
    padding: .5rem 2rem;
    border-radius: .5rem;
    margin-top: 0.5rem;
    color: var(--color-texto-blanco);
    border: none;
}

.formulario__boton:hover {
    border: 1px solid var(--color-texto-parrafo);
}


.formulario__campo {
    display: flex;
    align-items: center;
    background-color: transparent;
    font-weight: 500;
    box-sizing: border-box;
    border: 1px solid var(--color-texto-blanco);
    padding: .5vw 2vw;
    border-radius: .5rem;
    margin-top: 0.5rem;
}

input, textarea {
    color: var(--color-texto-blanco);
}

input::placeholder, textarea::placeholder{
    color: var(--color-texto-parrafo);
}

.container-form {
    display: flex;
    justify-content: center;
}

.contact-form form {
    display: grid;
    grid-template-areas:
        "div1 div2"
        "div3 div4"
        "div5 div5"
        "div6 div6"
        "div7 div7";
    grid-column-gap: 1vw;    
    padding: 5vw;
}

.contact-form .div1 {
    grid-area: div1;
    
}

.contact-form input{
    color: aliceblue;        
}


.contact-form .div2 {
    grid-area: div2;
}

.contact-form .div3 {
    grid-area: div3;
}

.contact-form .div4 {
    grid-area: div4;
}

.contact-form .div5 {
    grid-area: div5;
    display: flex;
    flex-direction: column;    
}

.contact-form .div6 {
    grid-area: div6;
    display: flex;
    flex-direction: column;    
}

.contact-form .div7 {
    grid-area: div7;
    display: flex;
    justify-content: center;
}
