@media screen and (max-width: 922px) {
    .hero {
        display: flex;
        flex-direction: column;
        padding: 1.5vw 3.5vw;
    }

    h1 {
        font-size: 4rem;
        line-height: 5rem;
        font-weight: 700;
    }

    .contenido__texto {
        padding-right: 2vw;
    }

    .contenido__milestones {
        display: flex;
        justify-content: center;
    }

    .imagenCTA__imagen {
        margin-top: 5vw;
        max-width: 80vw;
    }

    .imagenCTA {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1vw;

    }

    .imagenCTA__buttons {
        width: 90%;
        flex-direction: column;
        padding-top: 10vw;
    }

    .imagenCTA__buttons div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .destacado__titulo {
        width: 85%;
    }

    .destacado__titulo p {
        width: 110%;
    }

    .destacado__NFT {
        flex-direction: column;

    }

    .destacado__NFT--colm1,
    .destacado__NFT--colm2,
    .destacado__NFT--colm3 {
        max-width: 100%;
    }

    .destacado__NFT--colm2 {
        order: -1;
        width: 80vw;
        margin-bottom: 10vw;
    }

    .variosNFT {
        gap: 4vw;        
    }

    .cardNFT .cardNFT__nombre{
        padding-left: 5vw;
    }

    .cardNFT img {
        max-width: 80vw;
    }

    .community {
        flex-direction: column;
    }
    
    .community .button {
        width: 90%;
        margin-bottom: 4vw;
    }
    
    .collaboration__logos {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5vw;
        margin: 2.5vw;
    }

    .ocultable {
        display: none;
    }

    .newsletter form {
        flex-direction: column;
    }

}

@media (max-width: 768px) {
    .zigzag {
        flex-direction: column;
    }

    .zigzag__imagen, .zigzag__texto {
        flex: 1 1 100%;
    }
}