.hero {
    display: flex;
    padding: 2.5vw 4.5vw;

}


.contenido {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.contenido__milestones {
    display: flex;
    margin-top: 1vw;
}

.contenido__milestones3 {
    padding: 0 2.5vw;
}

.contenido__milestones1,
.contenido__milestones2 {
    padding: 0 2.5vw;
    border-right: .125rem solid var(--color-texto-blanco);
}

.contenido,
.imagenCTA {
    flex-grow: 1;
    flex-basis: 50%;
}

.imagenCTA__imagen {
    max-width: 35vw;
}

.imagenCTA__imagen img {
    width: 96%;
}

.imagenCTA {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.imagenCTA__buttons {
    display: flex;
    gap: 1vw;
    background: rgba(255, 255, 255, 0.1);
    border: .125rem solid var(--color-primario-blue);
    padding: 7.5vw 2.5vw 2.5vw 2.5vw;
    box-shadow: 0px 24px 80px rgba(0, 0, 0, 0.8);
    border-radius: .5rem;
}

.imagenCTA__imagen {
    margin-bottom: -7vw;
    z-index: 1;
    box-shadow: 0px 24px 80px rgba(0, 0, 0, 0.8);
}

img {
    border-radius: .5rem;
}

.oferta {
    display: flex;
    padding: 1.5vw 4.5vw;
    margin: 3vw 0;
    background-color: var(--color-acento-violeta);
    justify-content: space-around;
    width: 100vw;
}

.oferta-transparente {
    -webkit-text-stroke: .09rem var(--color-texto-blanco);
    color: transparent;
}

.destacado {
    display: flex;
    flex-direction: column;
    padding: 2.5vw 4.5vw;
    align-items: center;
    width: 100%;
}

.destacado__titulo {
    width: 66%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.destacado__NFT {
    background-color: var(--color-primario-dark-blue);
    border-radius: .5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5vw;
    margin: 2.5vw;
}

.destacado__NFT--colm1,
.destacado__NFT--colm2,
.destacado__NFT--colm3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1vw;
    margin: 0 2.5%;
    max-width: 30%;
}


.imagenDestacada {
    box-shadow: 0px 24px 80px rgba(0, 0, 0, 0.8);
}

.destacado__NFT--colm2 {
    width: 25vw;
}

.imagenDestacada img {
    width: 100%;
}

.variosNFT {
    background-color: transparent;
}

.market {
    padding-top: 2vw;
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    justify-content: center;
}

.cardNFT {
    border: 1px solid #1E50FF;
    border-radius: .5rem;
    padding: 1.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vw;
    margin: 0 2vw;
}

.cardNFT__nombre {
    display: flex;
}

.cardNFT img {
    max-width: 20vw;
}


.community {
    display: flex;
    padding: 2.5vw 5.5vw;
}

.community .contenido__titulo {
    padding-right: 5.5%;
}

.community .contenido__texto {
    padding-right: 5.5%;
}

.community .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}


.usuarios {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 20%;
    justify-content: space-around;
    gap: 1vw;
}


.usuario {
    display: flex;
    align-items: center;
    gap: 1vw;
    background-color: var(--color-primario-dark-blue);
    border-radius: .5rem;
    padding: .5vw 1vw;
    box-shadow: 0px 24px 80px rgba(0, 0, 0, 0.8);
}

.avatar {
    width: 3.5vw;
    height: 3.5vw;
    background-color: #D9D9D9;
    border-radius: 50%;
}

.avatar img {
    width: 100%;
    border-radius: 50%;
    border: white solid 1px;
}

.usuarioData {
    display: flex;
    flex-direction: column;
}

.usuarioData p {
    color: var(--color-acento-gris);
}

#usuario1 {
    margin: 0 2vw 0 -2vw;
}


#usuario3 {
    margin: 0 -2vw 0 2vw;
}

.collaboration {
    padding: 2.5vw 4.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collaboration__titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collaboration__logos {
    display: flex;
    justify-content: space-between;
    gap: 5vw;
    margin: 2.5vw;
}

.newsletter {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1vw;
    background-color: var(--color-primario-dark-blue);
    border-radius: .5rem;
    padding: 8vw 12vw;
}

.zigzag {
    display: flex;
}

.zigzag--reverse {
    display: flex;
    flex-direction: row-reverse;
}

.p404 {
    padding: 0 15vw;
}

.p404 .button {
    width: 100%;
}

.bg-hero {
    height: 40vw;
    width: 110vw;
    left: -40px;
    top: 128px;
}

.blurs {
    // display: flex;
    // justify-content: space-between;
}

.blur-violeta {
    position: absolute;
    width: 32vw;
    height: 32vw;
    left: -4vw;
    top: 17vw;    

    background: var(--color-acento-violeta);
    filter: blur(12vw);
    z-index: -1;
}

.blur-azul {
    position: absolute;
    width: 40vw;
    height: 40vw;
    right: -10vw;
    top: 12vw;

 
    background: var(--color-primario-blue);
    filter: blur(12vw);
    z-index: -1;
}