:root {
    --color-primario-blue: #1E50FF;
    --color-primario-dark-blue: #081956;
    --color-secundario-navy: #051139;
    --color-texto-blanco: #ffffff;
    --color-texto-parrafo: #EBEBEB;
    --color-acento-gris: #B8B8B8;
    --color-acento-cyan: #5699FF;
    --color-acento-violeta: #AA00FF;
}